{% if page.primary_menu %}
	{{ page.primary_menu }}
{% endif %}
<div id="main" class="main layout-main-wrapper layout-container">
			{{ page.content}}		
			{{ page.content_below}}
</div>
<footer class="footer">
	<div class="footer_top">
		{{ page.footer_top }}
	</div>
	<div class="footer_bottom">
		{{ page.footer_bottom }}
	</div>
</footer>


